body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 260px;
}

.logo {
  width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  height: 45px;
  font-size: 18px;
  cursor: pointer;
}
